{% for stream_name, subjects in streams.iteritems() %}
    <div>
        <b>{{ stream_name }}</b>
        {% for subject, authors in subjects.iteritems() %}
        <div>
            <a href="https://zulip.com/#narrow/stream/{{ stream_name | urlencode2 }}/topic/{{ subject | urlencode2 }}">{{ subject }}</a>
            <div style="margin-left: 10px">
                {{ ','.join(authors) }}
            </div>
        </div>

        <!--<div><a href="{{ href }}">{{ name }}</a></div>-->
        {% endfor %}
    </div>
{% endfor %}
<br><br><br>
<a href='/logout'>Logout</a>